<template>
  <div class="home">
    <Pagination
      :current-page="currentPage"
      :page-count="pageInfo.pageCount"
      @change="changePage"
    />
    <GridList :items="images" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import GridList from "@/components/GridList.vue";
import Pagination from "@/components/Pagination.vue";
import { mapActions } from "vuex";

@Component({
  components: {
    GridList,
    Pagination
  },
  methods: {
    ...mapActions({
      setImagesIds: "mainModule/setImagesIds"
    })
  }
})
export default class Home extends Vue {
  setImagesIds!: (list: string[]) => string[];

  pageInfo: any = {};
  currentPage = 1;
  images: any[] = [];

  async created() {
    await this.changePage(this.currentPage);
  }

  async changePage(page: number) {
    this.pageInfo = await this.$api.getImages(page);
    if (this.pageInfo?.pictures?.length) {
      this.images = this.pageInfo.pictures;
      const imagesIds: string[] = this.images.map((item: any) => item.id);
      this.setImagesIds(imagesIds);
    }
    this.currentPage = this.pageInfo.page;
  }
}
</script>
