<template>
  <transition name="modal">
    <div role="dialog" aria-modal="true" class="dialog-wrapper">
      <div class="dialog-overlay" @click="$emit('close')"></div>
      <slot />
    </div>
  </transition>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class Dialog extends Vue {
  mounted() {
    document.addEventListener("keyup", this.close);
  }

  beforeDestroy() {
    document.removeEventListener("keyup", this.close);
  }

  close(e: any) {
    const ESC = 27;
    if (e.keyCode !== ESC) return;
    this.$emit("close");
  }
}
</script>
<style lang="scss" scoped>
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.dialog-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialog-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
</style>
