<template>
  <Portal to="dialog">
    <Dialog @close="$emit('close')">
      <slot></slot>
    </Dialog>
  </Portal>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Dialog from "@/components/Dialog.vue";

@Component({
  components: {
    Dialog
  }
})
export default class DialogRouterView extends Vue {}
</script>
<style lang="scss" scoped></style>
