<template>
  <div class="grid-container">
    <router-link
      v-for="item in items"
      :key="item.id"
      class="card"
      :to="{ name: 'image', params: { imageId: item.id } }"
    >
      <img class="card-image" :src="item.cropped_picture" />
    </router-link>
    <router-view />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import Pagination from "@/components/Pagination.vue";

@Component({
  components: {
    Pagination
  }
})
export default class GridList extends Vue {
  @Prop({ default: () => [] }) items!: any[];
}
</script>
<style lang="scss" scoped>
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.card {
  margin: auto;
  background: #f5f5f5;
  padding: 0.5rem;
  border-radius: 4px;
  display: inline-block;
  height: 250px;
  position: relative;
  width: 250px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.card-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
</style>
