<template>
  <DialogRouterView @close="closeModal">
    <div class="card-container">
      <button class="button-close" @click="closeModal">X</button>
      <div class="previous arrow-button">
        <button :disabled="selectedIndex === 0" @click="goTo('previous')">
          &laquo;
        </button>
      </div>
      <div class="card">
        <img
          ref="imageZoom"
          class="card-image"
          :src="selectedImage.full_picture"
        />
        <div
          v-show="showMagnifier"
          ref="magnifier"
          class="zoom-magnifier"
          @mousemove="moveMagnifier"
        ></div>
      </div>
      <div class="card-info-container">
        <div class="card-info">
          <div class="block">
            <div class="indent">
              <b>Author: </b>
              <span>{{ selectedImage.author }}</span>
            </div>
            <div class="indent">
              <b>Camera: </b>
              <span>{{ selectedImage.camera }}</span>
            </div>
            <div class="tags">
              <a v-for="(tag, index) in tags" :key="index" :href="tag">{{
                tag
              }}</a>
            </div>
          </div>
          <div class="action-buttons">
            <button class="button-magnifier" @click="toggleZoom">
              <img src="@/assets/magnifier.svg" alt="magnifier" />
            </button>

            <button @click="copyLink">
              <img src="@/assets/share.svg" alt="magnifier" />
            </button>
          </div>
        </div>
      </div>
      <div class="next arrow-button">
        <button :disabled="isLast" @click="goTo('next')">&raquo;</button>
      </div>
    </div>
  </DialogRouterView>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import DialogRouterView from "@/components/DialogRouterView.vue";
import * as clipboard from "clipboard-polyfill";
import { mapGetters } from "vuex";

@Component({
  components: {
    DialogRouterView
  },
  computed: {
    ...mapGetters({
      getImagesIds: "mainModule/getImagesIds"
    })
  }
})
export default class ImageModal extends Vue {
  getImagesIds!: string[];

  @Watch("currentImageId", { immediate: true })
  async onImageChanged(newId: string, oldId: string) {
    if (newId !== oldId) {
      const image: any = await this.$api.getImage(newId);
      if (image) {
        this.selectedImage = image;
        this.tags = this.selectedImage?.tags
          ? this.selectedImage.tags.split(" ")
          : [];
        if (this.getImagesIds?.length) {
          this.selectedIndex = this.getImagesIds.findIndex(
            (id: string) => id === newId
          );
        }
      }
    }
  }

  @Watch("showMagnifier")
  async onButtonChanged(value: boolean) {
    if (value) {
      this.initZoom(this.selectedImage?.full_picture);
    }
  }

  selectedImage: any = {};
  selectedIndex = 0;
  tags: string[] = [];
  imageZoom: any = null;
  magnifier: any = null;
  zoom = 2;
  showMagnifier = false;

  get currentImageId() {
    return this.$route.params.imageId;
  }

  get isLast() {
    return this.getImagesIds?.length - 1 === this.selectedIndex;
  }

  mounted() {
    document.addEventListener("keyup", this.navigateByKeyboard);
  }

  beforeDestroy() {
    document.removeEventListener("keyup", this.navigateByKeyboard);
  }

  initZoom(src: string) {
    if (src) {
      this.imageZoom = this.$refs.imageZoom;
      this.magnifier = this.$refs.magnifier;
      if (this.imageZoom && this.magnifier) {
        this.magnifier.style.backgroundImage = `url("${src}")`;
        this.magnifier.style.backgroundSize =
          this.imageZoom.width * this.zoom +
          "px " +
          this.imageZoom.height * this.zoom +
          "px";
      }
    }
  }

  moveMagnifier(e: MouseEvent) {
    e.preventDefault();
    if (this.magnifier && this.imageZoom) {
      // Get the cursor's x and y positions:
      const pos = this.getCursorPos(e);

      let x: number = pos?.x || 0;
      let y: number = pos?.y || 0;

      const bw = 3;
      const w: number = (this.magnifier?.offsetWidth || 1) / 2;
      const h: number = (this.magnifier?.offsetHeight || 1) / 2;

      // Prevent the magnifier glass from being positioned outside the image:
      if (x > this.imageZoom.width - w / this.zoom) {
        x = this.imageZoom.width - w / this.zoom;
      }
      if (x < w / this.zoom) {
        x = w / this.zoom;
      }
      if (y > this.imageZoom.height - h / this.zoom) {
        y = this.imageZoom.height - h / this.zoom;
      }
      if (y < h / this.zoom) {
        y = h / this.zoom;
      }

      // Set the position of the magnifier
      this.magnifier.style.left = x - w + "px";
      this.magnifier.style.top = y - h + "px";

      // Display image in magnifier
      this.magnifier.style.backgroundPosition =
        "-" +
        (x * this.zoom - w + bw) +
        "px -" +
        (y * this.zoom - h + bw) +
        "px";
    }
  }

  getCursorPos(e: MouseEvent) {
    let x = 0;
    let y = 0;
    // Get the x and y positions of the image:
    const elem: any = this.imageZoom.getBoundingClientRect();
    // Calculate the cursor's x and y coordinates, relative to the image:
    x = e?.pageX - elem.left;
    y = e?.pageY - elem.top;
    // Consider any page scrolling:
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return { x, y };
  }

  goTo(direction: string) {
    if (this.getImagesIds?.length) {
      if (direction === "previous" && this.selectedIndex !== 0) {
        this.$router.push({
          name: "image",
          params: {
            imageId: this.getImagesIds[this.selectedIndex - 1]
          }
        });
      } else if (direction === "next" && !this.isLast) {
        this.$router.push({
          name: "image",
          params: {
            imageId: this.getImagesIds[this.selectedIndex + 1]
          }
        });
      }
    }
  }

  async copyLink() {
    const link = `${window.location.origin}${this.$route.path}`;
    await clipboard?.writeText(link);
  }

  navigateByKeyboard(e: KeyboardEvent) {
    e.preventDefault();
    const rightArrow = 39;
    const leftArrow = 37;
    if (e.keyCode === rightArrow) {
      this.goTo("next");
    } else if (e.keyCode === leftArrow) {
      this.goTo("previous");
    }
  }

  toggleZoom() {
    this.showMagnifier = !this.showMagnifier;
  }

  closeModal() {
    this.$router.push("/");
  }
}
</script>
<style lang="scss" scoped>
.card-container {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    appearance: none;
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0.95;
    user-select: none;
    font-weight: 500;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.card {
  position: relative;
  margin: auto;
  background: #f5f5f5;
  border-radius: 4px;
  display: inline-flex;
  height: 75%;
  width: 75%;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-image {
  user-select: none;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.card-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 4px;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid grey;
  background-color: #2c3e50;
  color: #ffffff;
  font-size: 0.75rem;
  text-align: left;
  min-width: 300px;
  max-width: 75%;
  opacity: 0.95;
}

.row {
  display: flex;
  align-items: center;
}

.indent {
  margin-bottom: 0.5rem;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  a {
    color: lightblue;
    line-height: 1.7;
    text-decoration: none;
    margin-right: 1rem;
  }
}

.arrow-button {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.previous {
    left: 0;

    button {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  &.next {
    right: 0;

    button {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }
  }

  button {
    padding: 1rem;
    font-size: 2rem;
    color: #ffffff;
    background-color: #2c3e50;
  }
}

.button-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: transparent;
}

.zoom-magnifier {
  position: absolute;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: none;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

.action-buttons {
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    color: #ffffff;
    margin-right: 1rem;
  }

  img:not(.button-magnifier) {
    width: 35px;
    height: 35px;
    color: #ffffff;
  }

  .button-magnifier {
    img {
      width: 45px;
      height: 45px;
    }
  }
}
</style>
