<template>
  <div v-if="pageCount > 1" class="block">
    <ul class="pagination">
      <li
        class="pagination-item"
        :class="{ disabled: currentPage === 1 }"
        @click="setCurrentPage(Math.max(1, currentPage - 1))"
      >
        <span>&laquo;</span>
      </li>
      <li
        v-for="(page, index) in pages"
        :key="index"
        class="pagination-item"
        :class="{ active: currentPage === page.number }"
        @click="setCurrentPage(page.number)"
      >
        <span v-if="page.number === null">...</span>
        <span v-else>{{ page.number }}</span>
      </li>
      <li
        class="pagination-item"
        :class="{ disabled: currentPage === pageCount }"
        @click="setCurrentPage(Math.min(pageCount, currentPage + 1))"
      >
        <span>&raquo;</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";

@Component
export default class Pagination extends Vue {
  @Prop({ default: 1 }) currentPage!: number;
  @Prop({ default: 26 }) pageCount!: number;

  @Watch("currentPage", { immediate: true })
  onCurrentPageChanged(newValue: number, oldValue: number) {
    if (newValue !== oldValue) {
      this.buildPageList(this.currentPage);
    }
  }

  pages: any[] = [];

  buildPageList(page: any) {
    this.pages = [];
    if (this.pageCount > 10) {
      if (page >= 7 && page < this.pageCount - 4) {
        this.pagesRange(1, 2);
        this.pages.push({
          number: null
        });
        this.pagesRange(page - 3, page + 3);
        this.pages.push({
          number: null
        });
        this.pagesRange(this.pageCount - 1, this.pageCount);
      } else if (page < 7) {
        this.pagesRange(1, 8);
        this.pages.push({
          number: null
        });
        this.pagesRange(this.pageCount - 1, this.pageCount);
      } else if (page >= this.pageCount - 4) {
        this.pagesRange(1, 2);
        this.pages.push({
          number: null
        });
        this.pagesRange(this.pageCount - 5, this.pageCount);
      }
    } else {
      this.pagesRange(1, this.pageCount);
    }
  }

  pagesRange(x: any, y: any) {
    for (let i = x; i <= y; i++) {
      this.pages.push({
        number: i
      });
    }
  }

  setCurrentPage(newPage: any) {
    if (newPage && this.currentPage !== newPage) {
      this.$emit("change", newPage);
    }
  }
}
</script>
<style lang="scss" scoped>
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  margin: 5px;
  transition: 0.5s;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  &:not(.disabled):hover {
    background-color: #eee;
  }

  &.active {
    background-color: #eee;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
</style>
